.ContainerCard {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
  flex-wrap: wrap;
  padding-top: 100px;
  background-color: #ecebe3;  
  
  /* #ecebe3 */
}

.card-img {
  object-fit: cover;
  padding: 5px 5px;

}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card {
  margin: 30px 40px;
  min-height: 300px;
  width: 250px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.50);
  background-color: white;
  overflow: hidden;
  transition: all 0.20s ease-in;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.25);
  transform: translateY(-6px);
}

.card-detail {
  padding: 15px 12px;
  font-family: 'Roboto Slab', serif;
  color: #025b6d;
}

.description-menu {
  
  font-family: 'Fredoka One', cursive;  
  font-size: 13px;
}

.card-title {
  font-family: 'Fredoka One', cursive;
  color:  #023a47;
  font-size: 25px;

}

.ItemsContainer {
  background-color: #025b6d;
  padding-top: 80px;
}

.stock {
  color: #025b6d;
  padding: 10px;
}

.containerSelect {
display: flex;
flex-direction: column;

}
.iconPlus {
  color: #023a47;
  font-size: 35px;
  align-self: flex-end;
  padding: 10px 10px; 
}

