* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.count {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
}
