* {
    margin: 0;
}
.navbar { 
    display: grid;
    height: 90px;
    background-color: #ecebe3;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: center;
    padding: 10px;

}
.navbarImgContainer {
    display: flex;
    justify-content: center;
}

.img {
    width: 180px;

}
.navbarTitle {
    color: #023a47;
    font-size: 20px;
   font-family: 'Roboto Slab', serif;
    margin-left: 10px;
    
}
.navbarUl {
    display: flex;
    
}
.navbarLi {
    
    padding: 15px 15px;
    list-style: none;
    font-size: 20px;
    color: #023a47;
    
   font-family: 'Roboto Slab', serif;
    
}
