* {
    margin: 0;
}
.navbar { 
    display: grid;
    height: 90px;
    background-color: #023a47;
    grid-template-columns: 3fr 3fr 3fr;
    justify-content: center;
    padding: 5px;

}
.navbarImgContainer {
    display: flex;
    justify-content: center;
}

.img {
    width: 150px;

}
.navbarUl {
    display: flex;
    
}

.navbarTitle {
   
color: #ecebe3;
font-family: 'Fredoka One';
font-size: 20px ;


}
.navbarLi {
    
    padding: 10px 15px;
    list-style: none;
    font-size: 16px;
    color: #ecebe3;
   font-family: 'Fredoka One', cursive;
    
}
