* {
    margin: 0;
}
.navbar { 
    display: grid;
    background-color: #ecebe3;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;

}
.navbarImgContainer {
    display: flex;
    justify-content: center;
}

.img {
    width: 250px;

}
.navbarTitle {
    color: #023a47;
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    margin-left: 10px;
    
}
.navbarUl {
    display: flex;
    justify-content: flex-end;
    
}
.navbarLi {
    
    padding: 15px 15px;
    list-style: none;
    font-size: 22px;
    color: #023a47;

    font-family: 'Fredoka One', cursive;
    
}
